header {
    width: 100%;
    padding: 28px 1.9%;
    position: sticky;
    top: 0;
    background-color: #FFF6EB;
    z-index: 2;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

#nav_logo {
    font-size: 32px;
    color: #EE8305;
   
    
}

.logo-text{
    font-family: 'Inknut Antiqua', serif;
    font-size: 32px;
    color: #EE8305;
    font-weight: 700;

}
   
#nav_user {
    color: #D88C32;
    font-size: 27px;
    margin-right: 8px;
    
}

#nav_shop {
    color: #D88C32;
    font-size: 27px;
    margin: 9px;
    position: relative;
}

/* Estilo para exibir o número de itens no carrinho */
#nav_shop[data-count]:after {
    content: attr(data-count); /* Exibe o valor do data-count */
    position: absolute;
    top: -13px; /* Ajuste conforme necessário */
    right: -14px; /* Ajuste conforme necessário */
    background-color: #71430D; /* Cor de fundo para o contador */
    color: white; /* Cor do número */
    font-size: 12px;
    padding: 2px 6px; /* Espaçamento dentro do círculo */
    border-radius: 50px; /* Deixa o fundo redondo */
    min-width: 10px; /* Largura mínima para o círculo */
    text-align: center;
    font-weight: bold;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    font-weight: 700;
    color: #D88C32;
}

.nav-item.active a {
    color: #D88C32;
    border-bottom: 3px solid #71430D;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;

}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: #71430D;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        
    }
    

    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
        
    }
}

