header {
    width: 100%;
    padding: 28px 1.9%;
    position: sticky;
    top: 0;
    background-color: #864A12;
    z-index: 2;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

#nav_logo {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
   
    
}

#cadeado {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    
}
   
#nav_user {
    color: #fff;
    font-size: 27px;
    margin-right: 8px;
    
}